<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="io.barogo.adjustment.common.log.CommonLogLayout">
                <timestampFormat>yyyy-MM-dd HH:mm:ss</timestampFormat>
                <timestampFormatTimezoneId>Asia/Seoul</timestampFormatTimezoneId>
                <appendLineSeparator>true</appendLineSeparator>

                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>

    <!-- mybatis mapper trace -->
    <springProfile name="localhost">
        <logger name="io.barogo.adjustment.persistence.adjustment.mapper">
            <level value="trace"/>
        </logger>
    </springProfile>


    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>