<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="io.barogo.adjustment.persistence.adjustment.mapper.BatchExampleWriterMapper">

    <insert id="createBatchExampleWriter" parameterType="io.barogo.adjustment.model.entity.adjustment.mybatis.BatchExampleWriterDto">
        insert into batch_example_writer
            (
                transaction_no,
                order_id,
                memo
            )
        values
            (
                #{transactionNo},
                #{orderId},
                #{memo}
            )
    </insert>
</mapper>