<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="io.barogo.adjustment.persistence.adjustment.mapper.BatchExampleReaderMapper">

    <select id="readAll" resultType="io.barogo.adjustment.model.entity.adjustment.mybatis.BatchExampleReader">
        SELECT seq, id, name FROM BATCH_EXAMPLE_READER
    </select>

</mapper>